*{
	padding: 0px;
	margin:0px;
	box-sizing: border-box; 
}
html{
	scroll-behavior: smooth;
}
body{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('Images/bg.jpg');
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	max-width: 100%;
    overflow-x: hidden;
}
.container {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3vw;
	text-transform: uppercase;
	color: white;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	box-sizing: border-box;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13vw;
	letter-spacing: 12.5vw;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 10vh;
	width: 10vw;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 5vw;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 0.5vh;
	width: 6vw;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

.content{
	text-align: center;
	color: white;
	margin-top: 42vh;
}
.content h1{
	margin-top: 3.5vh;
	text-transform: uppercase;
	font-size:5vw;
	font-family: 'Oleo Script', cursive;
	font-weight: lighter; 
	-webkit-animation: colorchange 4s infinite alternate;
}

@-webkit-keyframes colorchange
 {
  0%{
  	color: red;
  }
  50%{
  	color: blue;
  }
  75%{
  	color: red;
  }
 	100%{
  	color: blue;
  }
  
}

.content h2{
	text-transform: uppercase;
	font-size: 3vw;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
}
.content button{
	border-radius: 1em;
	width: 10vw;
	height: 5vh;
	background-color:rgba(0, 0, 0, 0.3);
	border-color: white;
	color: whitesmoke;
}
.content button:hover{
	background-color:rgba(255, 255, 255, 0.8); 
	color: black;
}
.bt{
	margin-right: 5vw;
}
span{
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

/* About */

.about{
	margin-top: 25vh;
    height: 100vh;
   	width: 100vw;

   	/* background-color: red; */

}
.text img{
	height: 60vh;
	width: 40vw;
	margin-top: 10vh;
	margin-left: 10vw;
	border-radius: 1em;
}
.text h2{
	text-align: center;
	padding-top:15vh;
	box-sizing: border-box;
	font-size: 3.5vw; 
}
.text p{
	width: 30vw;
	height: auto;
	float: right;
	margin-top: 10vh;
	margin-right: 10vw;
	font-size: 1.8vw;
	text-align: justify;
}


/* Order*/
.order{
   	height: 100vh;
   	width: 100vw;
   	}
.type h2{
	text-align: center;
		
	font-size: 3vw;
	padding-top: 15vh;
}
.divide{
	height: 65vh;
	width: 100vw;
	/* background-color: red;	 */
	margin-top: 5vh;
	position: absolute;
}
.buiscuit{
	width: 25vw;
	height: 65vh;
	float:left;
	background-image: url('Images/buiscuit2.jpg');
	background-size: 25vw 65vh;
	background-repeat: no-repeat;
}
.Breads{
	width: 25vw;
	height: 65vh;
	float:left;
	background-image: url('Images/bread.jpg');
	background-size: 25vw 65vh;
	background-repeat: no-repeat;
}
.cakes{
	width: 25vw;
	height: 65vh;
	background-image: url('Images/cake.jpg');
	background-size: 25vw 65vh;
	float:left;
	background-repeat: no-repeat;
}
.pestries{
	width: 25vw;
	height: 65vh;
	background-image: url('Images/pestries.jpeg');
	float:left;
	background-size: 25vw 65vh;
	background-repeat: no-repeat;
}

/* Contact*/
.contact{
   	height: 100vh;
   	width: 100vw;
   	background-image:url('Images/cbg.jpg');
   	background-size: 100vw 100vh;
   	background-repeat: no-repeat;
   	padding-top: 15vh;
   	padding-left:20vw;
}
.contact-form{
    width: 60vw;
  	height: auto;
  	border-radius: 1em;

}
.contact-form h1{
	text-align: center;
	font-weight: 200;
	animation: none; 
	font-size: 3.5vw;
	color: white;
}
.txtb{
  border:1px solid gray;
  margin: 8px 0;
  padding: 2vh 2vw;
  border-radius: 8px;
  color: white;
}	
.txtb input,.txtb textarea{
  width: 90%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 3vh;
  color: white;

}
.btn{
  display: inline-block;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 10vw;
  text-align: center;
  margin-left: 25vw;
  margin-bottom: 2vh;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.4);
	border-color: red;
}
.btn:hover{
	color: blue;	
}


/* Media queries */

/*1.pc mode */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}

@media (max-width: 1255px)

{

.body
{
	max-width: 100%;
    overflow-x: hidden;

}



/* Home */

.content{
	margin-top: 45vh;
}  
.content button
{
	margin-top: 3vh;
	width: 12vw;
}
.content h1
{
	font-size:4.5vw;
	margin-top: 6vh; 
}
.content h2
{
	font-size:3vw;
}	

}

@media (max-width: 1070px)
{
/* Home */
.content button
{
	margin-top: 3vh;
	width: 12vw;
}
.content h1
{
	font-size:5vw;
	margin-top: 6vh; 
}
.content h2
{
	font-size:4vw;
}

}


/* tablet mode */
@media (max-width: 690px)
{
	
/* Home */
  
.content{
	margin-top: 47vh;
}  
.content button
{
	margin-top: 2vh;
	width: 25vw;
}
.content h1
{
	font-size:5vw;
	margin-top: 2.5vh; 
}
.content h2
{
	font-size:4vw;
}

/* About */

.about
{
   	margin-top:40vh;
}
.text h2
{
	padding-top:10vh;
	font-size: 5vw; 
}
.text img
{
	height: 40vh;
	width: 80vw;
}
.text p
{
	width: 80vw;
	font-size: 3vw;
	text-align: justify;
}

/* Order */

.order
{
   	margin-top: 15vh;
}
.type h2
{
	padding-top: 10vh;	
	font-size: 5vw;
	
}
.divide
{
	height: 65vh;
	width: 100vw;
}
.buiscuit
{
	width: 50vw;
	height: 32.5vh;
	background-size: 50vw 32.5vh;
}
.Breads
{
	width: 50vw;
	height: 32.5vh;
	background-size: 50vw 32.5vh;
}
.cakes
{
	width: 50vw;
	height: 32.5vh;
	background-size: 50vw 32.5vh;
}
.pestries
{
	width: 50vw;
	height: 32.5vh;
	background-size: 50vw 32.5vh;
}

/* Contact us */

h1{
	font-size: 5vw;
	color: white;
}
.btn
{
  width: 15vw;
}

}
	
@media (max-width: 520px)
{

/* Home */
	
.content button
{
	margin-top: 2vh;
	width: 25vw;
}
.content h1
{
	font-size:6.5vw;
	margin-top: 4.5vh; 
}
.content h2
{
	font-size:4.5vw;
}

/* About */

.about
{
   	margin-top:45vh;
 
}

/* Order */

.order
{
   	margin-top: 20vh;
}
.type h2
{
	padding-top: 12vh;	
	font-size: 5vw;
	
}	

}

/* Contact us */	
h1{
	font-size: 5vw;
	color: white;
}
.btn
{
  width: 18vw;
}	


/* Mobile mode */

@media(max-width: 390px) 
{
  
/* Home */
  
.content button
{
	margin-top: 2vh;
	width: 25vw;
}
.content h1{
	font-size:8vw;
	margin-top: 5vh; 
}
.content h2
{
	font-size:5vw;
}

/* About */

.about
{
   	margin-top:50vh;
}
.text p
{
	font-size: 4.8vw;
}

/* Contact */

.btn
{
  width: 25vw;
  margin-left: 18vw
}
h1{
	font-size: 5vw;
	color: white;
}

}

@media (max-width: 340px){

.content button
{
	margin-top: 2vh;
	width: 30vw;
}
}

@media(max-width: 260px) {
  
.content button
{
	margin-top: 2vh;
	width: 35vw;
}
}